.container
{
    display: flex;
    justify-content: space-between;
}
img{
    max-width: 30%;
    max-height: 30%;
    width: auto;
    height: auto;
}
.log img
{
    max-width: 50%;
    max-height: 50%;
    float: left;
    top:0;
    left:0;
}
.userIcon img
{
    
    float: right;
    top:0;
    right:0;
    
    
}
.searchBar
{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    height: 100%;
    width: 100%;
    
}
.searchBar label{
    margin-left: 400px;
    font-size: 23px;

}